@page
@model WEB1001_MyFirstWebApp_CS.Pages.IntroModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Hi! How are you?";
    ViewData["Other"] = "Other Value";

}

<h1>@ViewData["Title"]</h1>

<h3>Dulith Thaveesha</h3>

<form method="post">
    <div>
        <label asp-for="Int1">Value 1</label>
        <input asp-for="Int1" />
    </div>
    <div>
        <label asp-for="Int2">Value 2</label>
        <input asp-for="Int2" />
    </div>
    <div>
        <input type="submit" value="Add"/>
    </div>
</form>


<h2>@WEB1001_MyFirstWebApp_CS.Pages.IntroModel.Ans</h2>