@page
@model WEB1001_MyFirstWebApp_CS.Pages.IntroModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Hi! How are you?";
    ViewData["Other"] = "Other Value";

}

<h1>@ViewData["Title"]</h1>

<h3>Dulith Thaveesha</h3>